@model ReviewReservationViewModel

@{
    ViewData["Title"] = "Shrnutí Rezervace";
}


<div class="container mt-5">
    <h2 class="text-center">Rezervace</h2>

    <div class="card mt-4">
        <div class="card-header">Detaily klubu</div>

        <div class="card-body">
            <h4 class="card-title">@Model.ClubName</h4>

            <p><strong>Adresa:</strong> @Model.ClubAddress</p>

            <p><strong>Typ:</strong> @Model.ClubType</p>

            <p><strong>Kapacita:</strong> @Model.ClubCapacity 🧑</p>

            <p><strong>Cena za osobu:</strong> @Model.ClubPricePerPerson Kč</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">Shrnutí rezervace</div>
        <div class="card-body">
            <form method="post" asp-controller="Reservation" asp-action="CreateReservation">
                <input type="hidden" asp-for="ClubId" />

                <input type="hidden" asp-for="UserId" />

                <input type="hidden" asp-for="ReservationDate" />

                <input type="hidden" id="totalPriceHidden" asp-for="Price" />

                <p><strong>Datum rezervace:</strong> @Model.ReservationDate.ToString("dd.MM.yyyy")</p>

                <div class="form-group">
                    <label asp-for="NumberOfPeople"><strong>Počet osob:</strong></label>

                    <input asp-for="NumberOfPeople" class="form-control" min="1" max="@Model.ClubCapacity" value="1"/>
                </div>

                <p class="mt-3"><strong>Celková cena:</strong> <span id="totalPrice">@Model.Price</span> Kč</p>

                <div class="mt-4">
                    <a asp-action="SearchClubs" asp-controller="Club" class="btn btn-secondary">Zpět</a>

                    <button type="submit" class="btn btn-primary">Vytvořit rezervaci</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('NumberOfPeople').addEventListener('input', function () {
        var numberOfPeople = parseInt(this.value) || 1;
        var maxCapacity = @Model.ClubCapacity;
        var minPeople = 1;

        if (numberOfPeople < minPeople) {
            numberOfPeople = minPeople;
        } else if (numberOfPeople > maxCapacity) {
            numberOfPeople = maxCapacity;
        }

        this.value = numberOfPeople;

        var pricePerPerson = @Model.ClubPricePerPerson;
        var totalPrice = numberOfPeople * pricePerPerson;

        document.getElementById('totalPrice').innerText = totalPrice;
        document.getElementById('totalPriceHidden').value = totalPrice;
    });
</script>
